@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    public int shaftID { get; set; }
        public string shaftName { get; set; }
        public string length { get; set; }
        public string imageName { get; set; }
        //public byte shaftImage { get; set; }
        public double price { get; set; }
*@
@{
}
@model Shaft
    <p>@ViewBag.ID</p>
        <form method="post" enctype="multipart/form-data" class="row g-3">
            <h4 class="form-group col-12">Add @ViewBag.currModel</h4>

            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="shaftID" />
            <div class="form-group col-12">
                <label asp-for="shaftName">Name:</label>
                <input asp-for="shaftName" class="form-control" />
            </div>

            <div class="form-group col-12">
                <label asp-for="length">Length:</label>
                <input asp-for="length" class="form-control" />
            </div>
            @*<div class="form-group col-12">
                <label asp-for="imageName">imageName:</label>
                <input asp-for="imageName" class="form-control" />
            </div>*@
            <div class="form-group col-md-4">
                <label asp-for="shaftImage">Price: </label>
                <div>
                    <input asp-for="shaftImage" type="file" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" asp>Choose File</label>
                </div>
                
            </div>

            <div class="form-group col-md-4">
                <label asp-for="price">Price: </label>
                <input asp-for="price" class="form-control" />
            </div>
            

            <div class="float-end form-group col-12">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>


        </form>


